.mainfooter {
    display: flex;
    justify-content: space-between;
    padding-inline: 200px;
    bottom: 0px;
    height: max-content;
}

.mainfooter input {
    height: 50px;
    border: none;
    padding: 0 15px; /* Add some padding inside the input */
    flex: 1; /* Make the input field grow to occupy available space */
    font-size: 16px; /* Font size */
    outline: none; /* Remove default focus outline */
    border: 1px solid grey;
    border-radius: 5px;

}

.mainfooter button {
    height: 50px;
    border: none;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 0 20px; /* Horizontal padding for button */
    font-size: 16px; /* Font size matching input */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth hover effect */
}

.mainfooter p {
    font-size: 20px;
}